@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway';
    height: 100vh;
}

#tophead-container{
    background: #43425D;
    height: 50px;
    display: flex;
    align-items: center;
}

h1{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: 200;
}

.chatsession{
    flex: 30%;
    padding: 0 20px
}

.chatdetail{
    flex: 70%;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.5);
}

#next-container{
    display: flex;
    align-items: center;
}

.people{
    height: 100vh;
    flex: 30%;
}

.chat-on{
    height: 100vh;
    flex: 70%;
}

.chat-on2{
    height: 100vh;
    flex: 70%;
}

.user{
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}

.user:hover{
    background-color: rgba(200,200,200,0.1);
    cursor: pointer;
}

.dp img{
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name-chat{
    flex: 70%;
}

h3{
    font-size: 15px;
    color: rgba(0,0,0,0.8);
}

.name-chat p{
    font-size: 12px;
    margin-top: 5px;
    color: dimgray;
}

.name-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    font-weight: 100;
    color: black;
}

.chat-on{
    display: block;
    flex-direction: column;
/*    border-left: 1px solid rgba(0,0,0,0.1);*/
}

.chat-on2{
    display: none;
    flex-direction: column;
/*    border-left: 1px solid rgba(0,0,0,0.1);*/
}

.profile-display{
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: flex-start;
    align-items:center; 
    background-color: rgba(200,200,200,0.2);
}

.dp-detail{
    position: relative;
}

.dp-detail img{
    margin: 0 10px 0 35px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.on-status{
    position: absolute;
    top: 62px;
    left: 89px;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: #00E278;
}

.name-status{
    padding: 20px;
}

.name-status h2{
    margin-bottom: 5px;
}

.typearea{
    width: 100%;
    height: 95px;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

/*COnversation Tweaks S here*/

.conversation{
    height: 450px;
    font-size: 12px;
    position: relative;
    padding: 35px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

/*COnversation Tweaks E here*/

.user1{
    display: inline-block;
    background-color: rgba(200,200,200,0.2);
    border-radius: 20px 20px 20px 0;
    padding: 12px 25px 12px 25px;
    margin-bottom: 10px;
    margin-right: 55%;
}

.user2{
    float: right;
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 20px 20px 0 20px;
    padding: 12px 25px 12px 25px;
    color: white;
    text-align: right;
    margin-bottom: 10px;
    margin-left: 55%;
}

.ip{
    background-color: rgba(200,200,200,0.2);
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

input{
    border: none;
    background: none;
    width: 100%;
}

button{
    width: 50px;
    border: none;
    background-color: #43425D;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

button:hover{
    background-color: dodgerblue;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .chatsession {
        padding: 0 2px;
        text-align: center;
    }
    .chatsession h1{
        font-size: 13px;
        letter-spacing: 1px;
    }
    .people{
        height: 100vh;
        overflow-x: hidden;
        flex: 30%;
    }
    .user{
        display: flex;
        justify-content: center;
        background: white;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
    }
    .name-chat{
        display: none;   
    }
    .dp img{
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .profile-display{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: flex-start;
        align-items:center; 
        background-color: rgba(200,200,200,0.2);
    }

    .dp-detail{
        position: relative;
    }

    .dp-detail img{
        margin: 0 10px 0 35px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
    }
    .on-status{
        position: absolute;
        top: 42px;
        left: 76px;
        height: 10px;
        width: 10px;
        border-radius: 50px;
        background-color: #00E278;
    }
    .name-status{
        padding: 5px;
        font-size: 12px;
    }
    .conversation{
        height: 600px;
        font-size: 12px;
        position: relative;
        padding: 25px 10px ;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }
}

